body{background-color: aqua;
text-align:center;}
h1{text-align:center;}
nav{
    background-color:white;
    text-align: right;}
input{text-align: left;}
button{
    background-color:teal;
    text-align:center;}
form{
    border:2px solid black;
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    padding: 20px 20px 20 px 40px;
    background-color: white;
}

img{
    height: 50px;
    width: 50px;
}